<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>TIT-4-TAT
        </a>

    </div>

    <a class="btn-group btn-group-lg pull-right" role="group" aria-label="...">
        <button type="button" class="btn btn-default" name=" home"><a href = '/'>HOME</button></a>
        <button type="button" class="btn btn-default" name="myContacts">MY CONTACTS</button>
        <button type="button" class="btn btn-default">ADD CONTACTS</button>
        <button type="button" class="btn btn-default">LOGOUT</button>
    </div>


</div>
</nav>