<!--<nav class="navbar navbar-default" role="navigation">-->
<!--<div class="container-fluid">-->
    <!--<div class="navbar-header">-->
        <!--<a class="navbar-brand" href="#">-->
            <!--<span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>TIT-4-TAT-->
        <!--</a>-->

    <!--</div>-->

    <!--<a class="btn-group btn-group-lg pull-right" role="group" aria-label="...">-->
        <!--<button type="button" class="btn btn-default" name=" home"><a href= '/'>HOME</button></a>-->
    <!--<button type="button" class="btn btn-default" name="myContacts"><a href='/contacts/contactList'>MY CONTACTS</button></a>-->
    <!--<button type="button" class="btn btn-default"><a href="/contacts/contactForm">ADD CONTACTS</button></a>-->
    <!--<button type="button" class="btn btn-default" name="logout"><a href='/logout'> LOGOUT</button></a>-->
    <!--</div>-->


<!--</div>-->
<!--</nav>-->

<div class="topNav"></div>

<div class="ui four item menu">
    <a class="item" name="home" href="/">HOME</a>
    <a class="item" name="myContacts" href="/contacts/contactList">MY CONTACTS</a>
    <a class="item active" name="addcontacts" href="/contacts/contactForm">ADD CONTACTS</a>
    <a class="item" name="'logout" href="/logout">LOGOUT</a>
</div>