<!DOCTYPE html> <!--This is the signup page-->
<html lang="en">
<head>
    <% include partials/head%>
</head>

<body class="container-fluid">

<% include partials/nav%>

<main>
<div class="input-group">


</div>

    <div class="input-group">
        <input type="text" class="form-control" placeholder="Contact first name" >
        <input type="text" class="form-control" placeholder="Contact last name" >
        <input type="text" class="form-control" placeholder="Meeting place" >
        <input type="text" class="form-control" placeholder="Contacts phone #" >
        <input type="text" class="form-control" placeholder="Contacts email" >
        <input type="text" class="form-control" placeholder="Date met" >
        <input type="text" class="form-control" placeholder="Linkdin/person URL" >
        <input type="text" class="form-control" placeholder="Contacts current/previous workplace" >
        <input type="text" class="form-control" placeholder="Contacts position there" >
        <input type="text" class="form-control" placeholder="Positions you are interested in at this contacts workplace:" >

    </div>

</main>


<footer>
    <% include partials/footer%>
</footer>


</body>
</html>