body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
h1 {
  background: orangered;
}
.top {
  background: orangered;
}
.contact {
  font-size: 1.5em;

}