<!--THIS IS THE VIEW/READ-->
<!DOCTYPE html> <!--THIS IS THE NEW PAGE-->
<html lang="en">
<head>
    <% include ../partials/head%>
</head>

<body class="container-fluid">

<% include ../partials/nav%>

<main>

<h1>CONTACT LIST GOES HERE</h1>

<% contacts.forEach(function(contact) { %>
  <p>Name: <%= contact.firstName + ' ' + contact.lastName %></p>
<% }); %>


<button><a href="/contacts/contactForm">Add Contact</a></button>

</main>


<footer>
    <% include ../partials/footer%>
</footer>


</body>
</html>