
<!DOCTYPE html> <!--THIS IS THE NEW PAGE-->
<html lang="en">
<head>
    <% include ../partials/head%>
</head>

<body class="container-fluid">

<% include ../partials/nav%>

<main>
<div class="input-group">


</div>

    <form action="/contacts" method="POST">
    <div class="input-group" name="addNewContact">
        <input type="text" class="form-control" name='firstName' placeholder="Contact first name" >
        <input type="text" class="form-control" name='lastName'  placeholder="Contact last name" >
        <input type="text" class="form-control" name='meetingPlace' placeholder="Meeting place" >
        <input type="text" class="form-control" name='phoneNumber' placeholder="Contacts phone #" >
        <input type="text" class="form-control" name='email' placeholder="Contacts email" >
        <input type="text" class="form-control" name='dateMet' placeholder="Date met" >
        <input type="text" class="form-control" name='url' placeholder="Linkdin/person URL" >
        <input type="text" class="form-control" name='workPlace' placeholder="Contacts current/previous workplace" >
        <input type="text" class="form-control" name='positionThere' placeholder="Contacts position there" >
        <textarea name='positionsInterestedIn' placeholder="Positions you are interested in:" ></textarea>

    </div>


    <input class="btn btn-primary" type="submit">

    </form>

</main>


<footer>
    <% include ../partials/footer%>
</footer>


</body>
</html>