<!--THIS IS THE VIEW-->

<h1>CONTACT LIST GOES HERE</h1>

<% contacts.forEach(function(contact) { %>
  <p>Name: <%= contact.firstName + ' ' + contact.lastName %></p>
<% }); %>


<button><a href="/contacts/contactForm">Add Contact</a></button>